
input[type='file']
{
    display: none;
}
form
{
    display: flex;
    align-items: center;
    flex-direction: column;
}
progress
{
    visibility: hidden;
}
button, .choseFile
{
    background-color: #fc4445;
    border: none;
    color:white;
    font-size: 1.5em;
    padding: 10px 20px;
    border-radius: 100px;
    box-shadow: 3px 3px 2px -2px rgba(0,0,0,.3);
    transition: all ease .4s;
    cursor: pointer;
    position: relative;
    margin-right: 100px;
    z-index: 6;
}

.choseFile::before
{
    content: '12993dawdmawd.csv';
    color:#222;
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: center;
    position: absolute;
    right: 0;
    z-index: -5;
    bottom: -20px;
    padding: 20px 5px 5px 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ddd;
}
button:hover
{
    box-shadow: 3px 3px 3px -2px rgba(0,0,0,.5);
    background-color: #da2223;
}